/*-------------------
    reset
-------------------*/

html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*-------------------
    variables & globals
-------------------*/

html {
    --white: #fffcf2;
    --red: #ff595e;
    --black: #252422;
    --green: #8ac926;
    --orange: #ffca3a;

    --header: 'Roboto', serif;
    --text: 'Noto Sans JP', sans-serif;

    --width-main-content: calc(100vw - 19.2rem);
}

body {
    background-color: var(--white);
}

.main-content {
    width: var(--width-main-content);
}

.link {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 0;
    padding: 0;
    font-size: inherit;
    text-align: left;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 2px 2px 5px 2px var(--black), -2px -2px 5px 2px var(--black);
}

/*-------------------
    header
-------------------*/

.header {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--header);

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.header__headers {
    margin-left: 1rem;
    cursor:default;
}

.header__title {
    font-size: 2.5rem;

}

.header__subtitle {
    font-size: 1.5rem;
}

.header__nav-list {
    display: flex;
    margin-right: 1rem;

}

.header__nav-item {
    margin: 1rem;
}

.header__nav-link {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    font-family: var(--text);
    font-size: 1.5rem;
    transition: color 200ms ease-in-out;
    cursor: pointer;
}

.header__nav-link:hover,
.header__nav-link:focus {
    color: var(--red);
}

/*-------------------
    main
-------------------*/

.main {
    display:flex;
}

/*-------------------
    sidebar
-------------------*/

.sidebar {
    min-height: calc(100vh - 6rem);
    border-right: 3px solid var(--black);
}

.sidebar__links {
    margin: 3rem .5rem 0 .5rem;
    display:flex;
    flex-direction: column;
    font-size: 2rem;
}

.sidebar__tasks,
.sidebar__projects-container {
    padding: 2px 2px 2px calc(2px + .5rem);
    text-decoration: none;
    font-family: var(--text);
    color: var(--black);
    width: 18rem;
    height: 3rem;
    transition: color 200ms ease-in-out;
}

.sidebar__projects-container {
    display:flex;
    flex-direction: column;
    height: auto;
}

.sidebar__projects {
    color: inherit;
    font-family: inherit;
    display:flex;
    flex-direction: column;
}

.sidebar__tasks {
    margin-bottom: 3rem;
}

.projects__project {
    color: var(--black);
    font-size: 1.5rem;
    margin: .25rem;
    transition: color 200ms ease-in-out;
    word-break: break-word;
}

.sidebar__tasks:hover,
.sidebar__tasks:focus,
.sidebar__projects:hover,
.sidebar__projects:focus,
.projects__project:hover,
.projects__project:focus {
    color:var(--red);
}

.projects__project--active {
    color: var(--red);
}

/*-------------------
    sort bar
-------------------*/

.sort-bar {
    width: 100%;
    height: 3rem;
    background: linear-gradient(135deg, var(--black) 20%, 60%, var(--white));
    display:flex;
    font-size: 2rem;
    font-family: var(--text);
}

.sort__checkmark {
    margin: 0 1rem;
    cursor: pointer;
    color: var(--white);
    font-family: inherit;
}

.sort__priority {
    margin-left: 1rem;
    margin-right: auto;
    cursor: pointer;
    color: var(--white);
    font-family: inherit;
}

.sort__due-date {
    margin-right: 9.5rem;
    cursor: pointer;
    color: var(--black);
    font-family: inherit;
}

.sort__checkmark:focus,
.sort__checkmark:hover,
.sort__priority:focus,
.sort__priority:hover,
.sort__due-date:focus,
.sort__due-date:hover {
    filter: saturate(500%);
    outline: none;
    text-decoration: underline;
}

.task__title:focus {
    outline: none;
    text-decoration: underline;
}

/*-------------------
    task list
-------------------*/

.tasks__header {
    display:flex;
    height: 6rem;
    width: var(--width-main-content);
    justify-content: space-between;
    align-items: center;
    min-width: 45rem;
}

.task {
    height: 4rem;
    width: 100%;
    font-family: var(--text);
    font-size: 2rem;
    color: var(--black);
    transition: height 200ms ease-in-out;
}

.task--expanded-height {
    height: 9rem;
}

.task__shrunk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.task__more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    border-bottom: solid 1px black;
}

.task__description {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: auto;
    width: 25rem;
    word-break: break-word;
}

.task__date-added {
    font-size: 1.25rem;
    margin: 0 1rem;
}

.task__edit {
    line-height: 2px;
    padding: 0;
    margin: 0 2rem 0 1rem;
    cursor: pointer;
    height: 2.2rem;
    width: 5.5rem;
    font-family: var(--text);
    font-size: 1.4rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: .5rem;
    transition: all 200ms ease-in-out;
}

.task__edit:hover,
.task__edit:focus {
    background-color: var(--black);
    color: var(--white);
}

.task__checkmark,
.task__title,
.task__due-date {
    margin: 0 1rem;
    cursor: pointer;
}

.task__checkmark {
    width: auto;
}

.task__checkmark:focus-visible {
    box-shadow: 1px 1px 4px 2px black;
}

.task__title {
    margin-right: auto;
    transition: filter 200ms ease-in-out;
    word-break: break-word;
}

.task__title:hover,
.task__title:focus {
    filter: saturate(200%);
    outline: none;
    text-decoration: underline;
}

.task__title:focus {
    outline: none;
    text-decoration: underline;
}

.task__title--priority1 {
    color: var(--green);
}

.task__title--priority2 {
    color: var(--orange);
}

.task__title--priority3 {
    color: var(--red);
}

.task__due-date {
    text-align: right;
    margin-left: auto;
    min-width: 15rem;
}

.task__delete,
.project-header__delete {
    line-height: 2px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0 2rem 0 1rem;
    height: 2.2rem;
    width: 5.5rem;
    font-family: var(--text);
    font-size: 1.4rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: .5rem;
    transition: all 200ms ease-in-out;
}

.task__delete:hover,
.project-header__delete:hover,
.task__delete:focus,
.project-header__delete:focus {
    color: var(--white);
    background-color: var(--black);
}



/*-------------------
    project-header
-------------------*/

.project-header {
    display:flex;
    height: 6rem;
    width: var(--width-main-content);
    justify-content: space-between;
    align-items: center;
    min-width: 45rem;
}

.project-header__title {
    color: var(--black);
    font-family: var(--header);
    font-size: 2.5rem;
    margin: 0 1rem;
    min-width: 25rem;
    word-break: break-all;
}

.project-header__description {
    color: var(--black);
    font-family: var(--text);
    font-size: 1.5rem;
    margin: 0 1rem;
    min-width: 30rem;
    word-break: break-word;
}

.project-header__delete {
    /* see above */
}

/*-------------------
    task-form
-------------------*/

.task-form__container {
    display: flex;
    justify-content: center;
    width: var(--width-main-content);
}

.task-form {
    background-color: #c0c0c0;
    margin-top: 5rem;
    width: 40rem;
    height: 16rem;
    border: 3px solid var(--black);
    border-radius: 1rem;
    font-family: var(--text);
    display:flex;
}

.task-form__left-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
}

.task-form__right-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
}

.task-form__title {
    font-family: inherit;
    height: 3rem;
    font-size: 1.5rem;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.task-form__description {
    font-family: inherit;
    height: 6rem;
    font-size: 1rem;
    resize: none;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.task-form__projects {
    font-family: inherit;
    height: 2rem;
    font-size: 1rem;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.task-form__priority {
    font-family: inherit;
    height: 2rem;
    font-size: 1rem;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.task-form__form-group {
    display: flex;
    flex-direction: column;
}

.task-form__due-date-label {
    margin-bottom: .5rem;
    font-size: 1rem;
}

.task-form__due-date {
    font-family: inherit;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.task-form__submit {
    align-self: center;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid black;
    border-radius: .5rem;
    transition: all 200ms ease-in-out;
}

.task-form__submit:hover,
.task-form__submit:focus {
    color: var(--white);
    background-color: var(--black);
}

/*-------------------
    project-form
-------------------*/

.project-form__container {
    display: flex;
    justify-content: center;
    width: var(--width-main-content);
}

.project-form {
    background-color: #c0c0c0;
    padding: 1rem;
    margin-top: 5rem;
    width: 40rem;
    height: 16rem;
    border: 3px solid var(--black);
    border-radius: 1rem;
    font-family: var(--text);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-form__title {
    font-family: inherit;
    width: 21.8rem;
    height: 3rem;
    font-size: 1.5rem;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.project-form__description {
    font-family: inherit;
    height: 6rem;
    font-size: 1.5rem;
    resize: none;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.project-form__submit {
    align-self: flex-end;
    width: 13.85rem;
    height: 2rem;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
    border: 2px solid black;
    border-radius: .5rem;
    transition: all 200ms ease-in-out;
}

.project-form__submit:hover,
.project-form__submit:focus {
    color: var(--white);
    background-color: var(--black);
}

/*-------------------
    media
-------------------*/

@media only screen and (max-width: 87rem) {
    .sidebar__links {
        font-size: 1.5rem;
    }

    .sidebar__tasks {
        width: 7rem;
    }

    .sidebar__projects-container {
        width: 10rem;
    }

    .projects__project {
        font-size: 1.1rem;
    }

    .main-content {
        width: calc(100vw - 11.2rem);
    }

    .tasks__header {
        width: 100%;
        min-width: 0;
    }

    .project-header {
        width: 100%;
        min-width: 0;
    }

    .project-header__title {
        font-size: 1.5rem;
        min-width: 10rem;
    }

    .project-header__description {
        font-size: 1rem;
        min-width: 10rem;
    }

    .task__checkmark,
    .sort__checkmark {
        font-size: 1.5rem;
    }

    .task__title,
    .sort__priority {
        font-size: 1.5rem;
    }

    .task__description {
        width: fit-content;
        margin-left: 1rem;
    }

    .sort__due-date,
    .task__due-date {
        min-width: 0;
        font-size: 1.5rem;
    }

    .sort__due-date {
        margin-right: 7rem;
    }

    .project-header__delete,
    .task__delete,
    .task__edit {
        margin: 0 .5rem;
        font-size: 1.1rem;
        width: 5.5rem;

    }

    .task__more {
        line-height: 1.2;
    }

    .task__description,
    .task__date-added {
        font-size: 1rem;

    }

}

@media only screen and (max-width: 62.5rem) {
    .task-form,
    .project-form {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 25rem;
        width: 20rem;
    }

    .task-form__left-side {
        width: 100%;
        height: 40rem;
    }

    .task-form__right-side {
        padding-top: 0;
        width: 100%;
        height: 30rem;
    }

    .project-form__description {
        height: 70%;
    }

    .project-form__title,
    .project-form__description,
    .project-form__submit {
        width: 100%;
    }
}


@media only screen and (max-width: 45rem) {
    
    
    .header {
        width: 100%;
    }
    
    .header__subtitle {
        font-size: 1rem;
    }

    .header__nav-list {
        margin: 0;
    }

    .header__nav-link {
        font-size: 1.25rem;
    }

    .main {
        flex-direction: column;
        justify-content: center;
    }

    .sidebar {
        border-right: none;
        min-height: 0;
        max-height: 4rem;
    }

    .sidebar__tasks {
        padding: 0;
        height: 2.1rem;
        margin: 0;
    }

    .sidebar__projects-container {
        height: 2.1rem;
        padding: 0;
        margin: 0;
    }

    .sidebar__links {
        margin: 1rem 0;
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar--active {
        background-color: var(--white);
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        z-index: 1;
        height: auto;
    }

    .sidebar__projects {
        background-color: inherit;
    }

    .main-content {
        width: 100%;
    }

    .sort__priority {
        font-size: 1.2rem;
    }

    .sort__due-date {
        font-size: 1.2rem;
        margin-right: 5rem;
    }

    .tasks__header {
        display: none;
    }

    .task__checkmark,
    .sort__checkmark {
        margin: 0 0 0 .5rem;
    }

    .task--expanded-height {
        height: 10rem;
    }

    .task__due-date {
        font-size: 1rem;
        min-width: 4.5rem;
        margin-right: .25rem;
    }

    .task__title {
        font-size: 1.2rem;
        margin: 0 .5rem;
        max-width: 10rem;
    }

    .task__delete,
    .task__edit,
    .project-header__delete {
        font-size: 1rem;
        width: 4rem;
        height: 2rem;
    }

    .task__edit {
        margin-bottom: .25rem;
    }

    .task__more {
        height: 5rem;
    }

    .task__description {
        margin: .25rem 0 .25rem .25rem;
    }

    .project-header {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 8rem;
    }

    .project-header__title {
        font-size: 1.2rem;
        text-align: center;
    }

    .project-header__description {
        margin: .25rem .5rem;
        font-size: .9rem;
    }

    .task-form__container,
    .project-form__container {
        width: 100%;
    }

    .task-form__container {
        height: 30rem;
    }

    .task-form__left-side {
        height: 14rem;
    }

    .task-form__right-side {
        height: 11rem;
    }
}

@media only screen and (max-width: 20rem) {
    .task__title {
        font-size: .9rem;
    }

    .task--expanded-height {
        height: 13rem;
    }

    .task__more {
        height: 9rem;
    }

    .task-form,
    .project-form {
        width: 17rem;
    }
}
